@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
}

.link {
  text-decoration: none;
}
.refresh {
  text-decoration: none;
}
.refresh:hover {
  cursor: pointer;
  color: #457aa3;
}
